sketches
redis

frontend.old

# backend app
backend/node_modules
backend/.idea
backend/docs
backend/start-dev.cmd
backend/dist
backend/coverage

# frontend app
frontend/node_modules
frontend/dist
frontend/.env.local
frontend/.idea

html
